<h1 class="text-center">Node IZI-Examples</h1>
<form onsubmit="callApi()">
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" name="city" placeholder="city goes here" class="form-control">
  </div>
  <input type="submit" value="Api Search" class="btn btn-success">
  <div class="izi">
    
  </div>
</form>