<h1 class="text-center">Node IZI-Examples</h1>
<form method="POST" action="/city">
  <div class="form-group">
    <label for="city">City:</label>
    <input type="text" name="city" placeholder="city goes here" class="form-control">
  </div>
  <input type="submit" value="Api Search" class="btn btn-success">
</form>
<div class="earth-wrapper">
  <img class="earth" src="./earth.png" alt="earth"></img>
</div>