<!DOCTYPE html>
<html>
<head>
  <title>Seattle Restaurants Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
  <hr>

  <div class="container">
    <a href="/" class="btn btn-primary">Home Page</a>
    <a href="/city" class="btn btn-primary">City Page</a>
  </div>
    <script src="/izi-api.js"></script>
</body>
</html>